<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver android:name="com.same.alarm.infra.receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.same.alarm.ACTION_NAME" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.same.alarm.infra.receiver.RescheduleAlarmReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.same.alarm.infra.service.ForegroundAlarmService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>
</manifest>